<!-- [ Pre-loader ] start -->
<div class="loader-bg">
  <div class="loader-track">
    <div class="loader-fill"></div>
  </div>
</div>
<!-- [ Pre-loader ] End -->
<!-- [ Mobile header ] start -->
<app-mobile></app-mobile>
<!-- [ Mobile header ] End -->

<!-- [ navigation menu ] start -->
<app-sidebar></app-sidebar>
<!-- [ navigation menu ] end -->
<!-- [ Header ] start -->
<app-navbar></app-navbar>
<!-- [ Header ] end -->
<!-- [ Main Content ] start -->
<div class="pc-container">
  <div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">MSP Dashboard</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">Clients</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->



    <!-- [ Main Content ] start -->
    <div class="row">
      <!-- [ basic-table ] start -->
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header">
            <h5>Clients </h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                <div class="dataTable-top">
                  <div class="dataTable-dropdown"><label><select class="dataTable-selector">
                        <option value="5" selected="">(PC). All
                          Active Customers</option>
                        <option value="10">(PC). All
                          Customers</option>
                        <option value="15">(PC). Archived
                          Customers/option>
                        <option value="20">(PC). My
                          Customers</option>
                      </select></label></div>
                  <div class="dataTable-search"><input class="dataTable-input" placeholder="Search..." type="text">
                  </div>
                </div>
                <div class="dataTable-container">
                  <table class="table dataTable-table" id="pc-dt-simple">
                    <thead>
                      <tr>
                        <th><a href="#" class="dataTable-sorter">Nom du client</a></th>
                        <th><a href="#" class="dataTable-sorter">E-mail de la société</a></th>
                        <th><a href="#" class="dataTable-sorter">Ville</a></th>
                        <th><a href="#" class="dataTable-sorter">Pays</a></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Unity Pugh</td>
                        <td>9958</td>
                        <td>Curicó</td>
                        <td>2005/02/11</td>
                      </tr>
                      <tr>
                        <td>Theodore Duran</td>
                        <td>8971</td>
                        <td>Dhanbad</td>
                        <td>1999/04/07</td>
                      </tr>
                      <tr>
                        <td>Kylie Bishop</td>
                        <td>3147</td>
                        <td>Norman</td>
                        <td>2005/09/08</td>
                      </tr>
                      <tr>
                        <td>Willow Gilliam</td>
                        <td>3497</td>
                        <td>Amqui</td>
                        <td>2009/29/11</td>
                      </tr>
                      <tr>
                        <td>Blossom Dickerson</td>
                        <td>5018</td>
                        <td>Kempten</td>
                        <td>2006/11/09</td>
                      </tr>
                      <tr>
                        <td>Elliott Snyder</td>
                        <td>3925</td>
                        <td>Enines</td>
                        <td>2006/03/08</td>
                      </tr>
                      <tr>
                        <td>Castor Pugh</td>
                        <td>9488</td>
                        <td>Neath</td>
                        <td>2014/23/12</td>
                      </tr>
                      <tr>
                        <td>Pearl Carlson</td>
                        <td>6231</td>
                        <td>Cobourg</td>
                        <td>2014/31/08</td>
                      </tr>
                      <tr>
                        <td>Deirdre Bridges</td>
                        <td>1579</td>
                        <td>Eberswalde-Finow</td>
                        <td>2014/26/08</td>
                      </tr>
                      <tr>
                        <td>Daniel Baldwin</td>
                        <td>6095</td>
                        <td>Moircy</td>
                        <td>2000/11/01</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="dataTable-bottom">
                  <div class="dataTable-info">Showing 1 to 10 of 100 entries</div>
                  <nav class="dataTable-pagination">
                    <ul class="dataTable-pagination-list">
                      <li class="active"><a href="#" data-page="1">1</a></li>
                      <li class=""><a href="#" data-page="2">2</a></li>
                      <li class=""><a href="#" data-page="3">3</a></li>
                      <li class=""><a href="#" data-page="4">4</a></li>
                      <li class=""><a href="#" data-page="5">5</a></li>
                      <li class=""><a href="#" data-page="6">6</a></li>
                      <li class=""><a href="#" data-page="7">7</a></li>
                      <li class="ellipsis"><a href="#">…</a></li>
                      <li class=""><a href="#" data-page="10">10</a></li>
                      <li class="pager"><a href="#" data-page="2">›</a></li>
                    </ul>
                  </nav>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- [ basic-table ] end -->
    </div>
    <!-- [ Main Content ] end -->
  </div>
</div>

<!-- [ Main Content ] end -->
